<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
  <div class="container-md"><!--Clase para centrar mis ul chidas-->
    <a class="navbar-brand" href="/"><span class="yo">Pablo Rosas</span></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="bi bi-list"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav nav1">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i
              class="bi bi-house"
            ></i>Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about"><i
              class="bi bi-person-circle"
            ></i>About</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-code-slash"></i>
            Develop
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/edit"><i
                  class="bi bi-server"
                ></i>Crud-Node-Mongo<i class="bi bi-filetype-js"></i></a></li>
            <li><a class="dropdown-item" href="#"><i
                  class="bi bi-briefcase"
                ></i>Portafolio</a></li>
            <li><a class="dropdown-item" href="#">Works</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/testimonials"><i
              class="bi bi-people"
            ></i>Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto"><i
              class="bi bi-envelope"
            ></i>ContacMe</a>
        </li>
      </ul>
    </div>
  </div>
</nav>